{% extends 'layout.html' %}
{% block content %}

<div class="col-md-9" style="max-width: 400px;">
    <div class="border rounded shadow-sm p-4 bg-white">
  <h5 class="section-title">Change Password</h5>  
  <form method="POST">
    <div class="mb-3">
<label class="label-style">Current Password</label>
      <input type="password" name="current_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <labe class="label-style">New Password</label>
      <input type="password" name="new_password" class="form-control label-style" required>
    </div>
    <div class="mb-3">
      <label class="label-style">Confirm New Password</label>
      <input type="password" name="confirm_password" class="form-control label-style" required>
    </div>

    <!-- Align button left by removing text-center -->
    <div class="text-center">
      <button class="btn btn-dark px-4" type="submit">Change</button>
    </div>
  </form>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endwith %}

</div>
</div>
{% endblock %}
